@font-face {
  font-family: "NeutralFace";
  src: url("/fonts/NeutralFace/NeutralFace.woff2") format("woff2"), url("/fonts/NeutralFace/NeutralFace.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NeutralFace Bold";
  src: url("/fonts/NeutralFace/NeutralFace-Bold.woff2") format("woff2"), url("/fonts/NeutralFace/NeutralFace-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Manrope Light";
  src: url("/fonts/Manrope/Manrope-Light.woff2") format("woff2"), url("/fonts/Manrope/Manrope-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Manrope Regular";
  src: url("/fonts/Manrope/Manrope-Regular.woff2") format("woff2"), url("/fonts/Manrope/Manrope-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
.slider-container {
  position: relative;
  height: 1590px;
  margin-bottom: 167px;
}

.slide {
  min-height: 530px;
  position: sticky;
  left: 0;
  bottom: 0;
  background-color: #060C12;
  border-bottom: 1px solid #ffffff;
  padding: 120px 60px 114px;
}
.slide:first-child {
  border-top: 1px solid #ffffff;
}
.slide:nth-child(1) {
  z-index: 2;
}
.slide:nth-child(2) {
  z-index: 1;
}
.slide:nth-child(3) {
  z-index: 0;
}
.slide--flex {
  display: flex;
}
.slide--chess .slide__content {
  order: 3;
  margin-left: auto;
  margin-right: 0;
}
.slide--chess .slide__img {
  order: 2;
}
.slide--chess .slide__number {
  order: 0;
}
.slide__img {
  max-width: 520px;
  max-height: 410px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -60px;
  margin-bottom: -54px;
}
.slide__content {
  max-width: 733px;
  margin-right: auto;
}
.slide__title {
  margin-bottom: 40px;
}
.slide__text {
  margin-bottom: 60px;
}
.slide__number {
  font-family: "NeutralFace Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 54px;
  letter-spacing: 0.01em;
  color: #060C12;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #99A8B1;
  min-width: 80px;
  max-width: 245px;
  width: 100%;
}