@import '../var/index.scss';
@import '../mixin/index.scss';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    background-color: $primary-gray;
    padding-top: 210px;
    padding-bottom: 95px;

    &--hidden {
        overflow: hidden;
    }
}

@media (max-width: 1260px) {
    .body {
        padding-top: 136px;
        padding-bottom: 50px;
    }
}

.container {
    max-width: 1800px + 60px * 2;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
}

@media (max-width: 1260px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

}


.section-title {
    font-family: $font-NeutralFace-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: $grayscale-white;

}

@media (max-width: 1600px) {
    .section-title {
        font-size: 90px * 0.8;
        line-height: 130% * 0.8;
    }
}

@media (max-width: 1260px) {
    .section-title {
        font-size: 42px;
        line-height: 130%;
    }
}

.title-h3 {
    @include title-h3();
}

.main-text {
    @include main-text();
}

.button {
    @include btn-text();
    text-align: center;
    display: inline-block;
    padding: 17px 30px;
    border: 1px solid $grayscale-white;
    border-radius: 60px;
    transition: 0.3s background-color ease-in-out, 0.3s border ease-in-out;

    &:hover {
        background-color: $grayscale-white-60;
        border: 1px solid $grayscale-white-60;
    }
}