@import '../var/index.scss';
@import '../mixin/index.scss';

.form {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    gap: 30px 30px;

    &__grid-gap {
        margin-bottom: 30px;
    }

    &__button {
        appearance: unset;
        width: 100%;
        height: 77px;
        border: unset;
        cursor: pointer;
        background-color: $primary-orange;
        border-radius: 61px;

        font-family: $font-NeutralFace;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.01em;
        color: $grayscale-white;
        text-transform: uppercase;
    }

    &__grid-button {
        grid-column: 1 / -1;
    }

    &__grid-checkbox {
        display: flex;
        justify-content: center;
        grid-column: 1/-1;
    }

    &__field-checkbox {
        display: flex;
        align-items: center;
    }

    &__field-text, &__field-link {
        @include form-text();
    }

    &__field-link {
        border-bottom: 1px solid $grayscale-white;
    }

    &__field-input {
        display: block;
        height: 44px;
        width: 100%;
        border: unset;
        border-bottom: 1px solid $grayscale-white;
        background-color: transparent;

        &:focus,
        &:active {
            outline: none;
        }

        @include form-text();

        &--nonresize {
            resize: none;
        }
    }
}


.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;

    &__text {
        margin-left: 20px;
    }

    &__input {
        width: 0;
        height: 0;
        pointer-events: none;
        opacity: 0;
        
    }

    &__checkmark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        padding: 2px;
        border: 1px solid $grayscale-white-60;

        transition: 0.3s border ease-in-out, 0.3s background-color ease-in-out;

        &::before {
            content: '';
            display: block;
            width: 13px;
            height: 6px;
            border-bottom: 3px solid $grayscale-white;
            border-left: 3px solid $grayscale-white;
            transform: rotate((-45deg));
            margin-top: -5px;
            opacity: 0;
            transition: 0.3s opacity ease-in-out 0.1s;

        }
    }

    &__input:checked+&__checkmark {
        background-color: $primary-orange;
        border: 1px solid $primary-orange;

        &::before {
            opacity: 1;
        }
    }
}