@font-face {
    font-family: 'NeutralFace';
    src: url('../fonts/NeutralFace/NeutralFace.woff2') format('woff2'),
        url('../fonts/NeutralFace/NeutralFace.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NeutralFace Bold';
    src: url('../fonts/NeutralFace/NeutralFace-Bold.woff2') format('woff2'),
        url('../fonts/NeutralFace/NeutralFace-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

$font-NeutralFace: 'NeutralFace', Arial, sans-serif;
$font-NeutralFace-Bold: 'NeutralFace Bold', Arial, sans-serif;


@font-face {
    font-family: 'Manrope Light';
    src: url('../fonts/Manrope/Manrope-Light.woff2') format('woff2'),
        url('../fonts/Manrope/Manrope-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Manrope Regular';
    src: url('../fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope/Manrope-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

$font-Manrope-Light: 'Manrope Light', Arial, sans-serif;
$font-Manrope-Regular: 'Manrope Regular', Arial, sans-serif;

