@mixin form-text(){
    font-family: $font-Manrope-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $grayscale-white;
    @media (max-width: 1260px) {
        font-size: 14px;
        line-height: 130%;
    }
}

@mixin title-h3($color: $grayscale-white) {

    font-family: $font-NeutralFace-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: $color;
    text-transform: uppercase;

    @media (max-width: 1600px) {
        font-size: 55px * 0.8;
        line-height: 54px * 0.8;
    }

    @media (max-width: 1260px) {

        font-size: 28px;    
        line-height: 130%;
    }
}

@mixin main-text() {
    font-family: $font-Manrope-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $grayscale-white-85;

    @media (max-width: 1600px) {
        font-size: 20px * 0.8;
        line-height: 150% * 0.8;
    }
    @media (max-width: 1260px) {

        font-size: 15px; 
        line-height: 150%;
    }
}
@mixin title-h4() {
    font-family: $font-NeutralFace-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $grayscale-white;
    text-transform: uppercase;

    @media (max-width: 1600px) {
        font-size: 20px * 0.8;
        line-height: 20px * 0.8;
    }
}

@mixin btn-text(){
    font-family: $font-Manrope-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $grayscale-white;

    @media (max-width: 1600px) {
        font-size: 14px * 0.8;
        line-height: 130% * 0.8;
    }

    @media (max-width: 1260px) {
        font-size: 12px;
        line-height: 130%;
    }
}