@mixin form-text(){
    font-family: $font-Manrope-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $grayscale-white;
}